@import 'abstracts/variables';

#splash-image-top { 
  height: 100vh;
}

#nav-name {
  color:$navy-blue;
  font-weight: bolder;
}

#splash-tagline {
  background-color:$light-blue;
  height: 5vh;
}

#splash-tagline h1 {
  color: $navy-blue;
  font-weight: bolder;
  font-size: 20px;
  font-style: italic;
  padding-top: 10px;
}

// Directions Setcion
#directions {
  background-color:$light-blue;
}

#directions h1 {
  font-family: fairwater-open-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $navy-blue;
}

.directions-card {
  background: transparent;
}

.card-img-top {
  min-height: 100px;
  min-width: 150px;
}

// Learning Theory Section
#theory {
  background-color:white;
  overflow-x: hidden;
  min-height: 100vh;
}

#theory .card {
  max-width: 50vw;
  margin-left: 100px;
}

#theory h1 {
  font-family: fairwater-solid-serif, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: $navy-blue;
}

#classroom-img {
  width: 50vw;
}