@import 'abstracts/variables';
@import 'base/typography';

.loading-spinner {
  height: 50px;
  width: 50px;
  border: 5px solid black;
  border-right-color: grey;
  border-radius: 50%;
  animation-name: loading-spinner;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
    background-color: $blue;
  }

  25% {
    transform: rotate(90deg);
    background-color: $green;
  }

  50% {
    transform: rotate(180deg);
    background-color: $yellow;
  }

  75% {
    transform: rotate(270deg);
    background-color: $red;
  }

  100% {
    transform: rotate(360deg);
    background-color: $navy-blue;
  }
}