@import 'abstracts/variables';
@import 'base/typography';

.account {
  // height: 65vh;
  overflow-x: hidden
}

.account .card {
  background-color: $light-blue;
  width: 65%;
}

.account h1 {
  text-align: center;
}

.account h2 {
  font-size: 26px;
}

.account a {
  align-self: center;
}

.account-footer {
  margin-top: 21vh;
  // position:fixed;
  // top: 90vh;
}