@import 'abstracts/variables';
@import 'base/typography';

// Global
#signup-header, #login-header, #random-header, #play-header {
  @include logo-solid;
  color: $navy-blue;
  font-size: 64px;
}

#cancel-account-btn {
  width: 150px;
}

// Sign Up
.registration-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(69,163,227,1) 100%);
  min-height: 100vh;
}

// Log In
.login-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,171,94,1) 100%);
  height: 100vh;
}

// Random
.random-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(165,78,77,1) 50%); 
  height: 100vh;
}

// Play
.board-container {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(95,117,17,1) 100%);
  height: 100vh;
}