@import 'abstracts/variables';
@import 'base/typography';

.credits {
  overflow-x: hidden;
}

.credits .card {
background-color: $light-blue;
width: 65%;
margin-top: 5%;
margin-bottom: 15%;
}

.credits h1 {
text-align: center;
}

.credits h2 {
font-size: 26px;
}

.credits h3 {
  font-size: 18px;
  }