@import 'abstracts/variables';

// Navigation Bar
.game-nav{
  background-color: $blue;
  margin-bottom: 0;
  padding-bottom: 0;
}

.game-nav .nav-brand {
  margin-bottom: 0;
} 

.game-view-nav {
  color: white;
  margin-top: 14px;
  font-size: 18px; 
}

#game-view:hover {
  text-decoration: underline;
}

#turn-text {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 14px;
  margin-left: 40px;
}

// Body
.play-container, .random-play-container { 
  background: url('island-view.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 150vh;
}

#board {
  position: absolute;
  top: 15vh;
  left: 5vw;
  margin-right: 5vw;
}

#islander-board {
  position: absolute;
  top: 15vh;
  left: 5vw;
  margin-right: 5vw;
}

.board-card {
  background-color: $navy-blue;
  color: white;
}

.board-card:hover {
  border: solid $yellow 2px;
  margin: -2px;
}

.card-text {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

// Win Scenario
.win-container {
  background: url('win.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 110vh;
  margin-top: -50px;
}

#win-card{
  background-color: transparent;
  color: white;
  margin-top: 100px;
  // max-height: 300px;
}

#win-para{
  font-size: 100px
}

.win-container button {
  align-self: center;
}

.win-container button:hover {
  background-color: white;
  color: $yellow;
  border: solid 2px $yellow;
  margin: -1px;
}

@media screen and (max-width: 540px) {
  #win-para {font-size: 70px}
  .win-container button { padding: 0; }
}