<h1>My Outlines</h1>

<% if @outlines.any? %>
  <h4>Here are my outlines:</h4>
  <% @outlines.each do |outline| %>
    <ul>
      <li>
        <%= link_to outline.name, outline_path(outline) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>You have no outlines saved.</p>
<% end %>

<hr>
<p><%= link_to "Add an outline", new_outline_path %></p>
<p><%= link_to "Return to Ahoy Page", home_index_path %></p>