<nav class="navbar navbar-expand-sm fixed-bottom" style="background-color: #4197E5">
  <a class="navbar-brand" style="color: #F1AB5E; font-size: 12px" href="#">Copyright &#169 2020, Ahoy. All Rights Reserved.</a>
  <div class="navbar-nav ml-auto">
      <a class="nav-link" style="color: white" href="#">Directions</a>
      <a class="nav-link" style="color: white" href="#">About</a>
      <a class="nav-link" style="color: white" href="#">Contact</a>
    </div>
 
</nav>