<header  class="outlines-header">
  <nav class="outline-nav navbar navbar-expand-md">
    <div class="splash-brand-nav navbar-nav">
      <%= link_to 'AHOY!', home_index_path, class:"nav-brand", id: "outline-nav-header" %>
    </div>
    <div class="splash-buttons-nav navbar-nav ml-auto">
      <button class="outline-play-btn btn mr-3 mt-3 sign-out-btn-light"><%= link_to 'Play', new_board_path, class: "nav-link outline-play-btn" %></button>
      <button class="outline-signout-btn btn mr-3 mt-3 sign-out-btn-dark"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link"%></button>
    </div> 
  </nav>
  </header>