  <section id="splash-tagline" class="d-flex justify-content-center align-items-center">
    <% if user_signed_in? %>
      <h1><%= link_to "Hi, #{current_user.name}", home_account_path, id: 'nav-name' %></h1>
    <% else %>
      <h1>An outline rescue game.</h1>
    <% end %>
  </section>