<header>
  <%= render 'shared/header' %> 
</header>
<main class="credits">
  <%= render 'shared/splash_tagline' %> 
  <div class="row justify-content-center">
    <div class="card shadow p-4">
      <h1>Thank You!</h1>
      <p class="text-center"><em>This site would not be possible without the help and support of others.</em></p>
      <hr>
      <h2>Acknowledgements</h2>
      <br>
      <h3><a href='https://www.northwestern.edu/'>Northwestern</a></h3>
      <p>Thank you to the brilliant Sarah Van Wart, my Web and Python computer science professor, in whose classes I first grew enamored with programming; Nell O'Rourke, who helped me think and rethink the theoretical grounding of this game; and Kim Chapman, my beloved colleague who kept me sane throughout the Learning Sciences MA program.</p>
      <h3><a href='https://www.epicodus.com/'>Epicodus</a></h3>
      <p>Thank you to my tireless instructors Travis Scott, Leilani Leach, and Veronica Stanley-Katz, who patiently answered all of my questions and gave me the opportunity to develop this game further.</p>
      <h3><a href='https://www.norfolkacademy.org/'>Norfolk Academy</a></h3>
      <p>Thank you to the best 1-12 school in the country, where I was privileged to study and work and dream up ideas for improving classroom learning. Thank you, in particular, to its wonderfully supportive students, parents, faculty, staff, and administrators!</p>
      <hr>
      <h2>Vector Art</h2>
      Outline Pages: <a href="https://www.vecteezy.com/free-vector/sea">Sea Vectors by Vecteezy</a>
      Board Page: <a href="https://www.vecteezy.com/free-vector/ocean">Ocean Vectors by Vecteezy</a>
      Win Page: <a href="https://www.vecteezy.com/free-vector/ship-wreck">Ship Wreck Vectors by Vecteezy</a>
      Home Page: <a href="https://www.freepik.com/free-vector/lost-island-ocean-with-alone-castaway-person_6993841.htm"> Castaway Vector by upklyak - www.freepik.com</a>
    </div>
  </div>
</main>