<div class="splash-container">
  <%= render 'shared/header' %>
  <h1 class="ml-auto" id="home-header">Ahoy!</h1>
  <p class="ml-auto" id="home-tagline">An outline rescue game.</p>
  <%= render 'shared/footer' %>
</div>