@import 'abstracts/variables';

.nav-link {
  color: white;
  font-weight: bolder; 
}

#nav-link-yellow:hover {
  color: $yellow;
}

#nav-link-red:hover {
  color: $red;
}

#nav-link-green:hover {
  color: $green;
}

.nav-link-black:hover {
  color: black;
  font-weight: bolder;
}