/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Global Buttons */
 .btn {
   border-radius: 25px;
   padding: 0px;
   width: 100px;
   box-shadow: 4px 5px 5px;
 }

 .nav-link {
   color: white;
   font-weight: bolder;
 }

.sign-in-btn-dark {
  background-color: #F1AB5E;
}

.sign-in-btn-light {
  background-color: white;
  color: #F1AB5E;
}

.sign-up-btn-dark, .sign-out-btn-dark {
  background-color: #4197E5
}

.sign-up-btn-light, .sign-out-btn-light {
  background-color: white;
  color: #4197E5;
  font-weight: bolder;
  border: solid 2px #4197E5; 
}

.random-btn-dark {
  background-color: #A54E4D;
}

.random-btn-light {
  background-color: white;
  color: #A54E4D;
}

.play-btn-dark {
  background-color: #5F7511;
}

.play-btn-light {
  background-color: white;
  color: #5F7511;
  border: solid 2px #5F7511;
}

/* Shared Header */
#header-div {
 margin-top: -75px;
}

#header-head {
  /* font-family: farro; */
  color: #0E4A71;
  font-size: 100px;
  
}

#header-tagline {
  /* font-family: font-awesome; */
  color: #0E4A71;
  font-size: 18px;
}