// *= require_tree .
// *= require_self

// Fonts
// font-family: 'Josefin Slab', serif;
// font-family: 'Sail', cursive;

// Colors
// Yellow: #F1AB5E;
// Blue: #4197E5;
// Red: #A54E4D;
// Green: #5F7511;
// Light Blue: #CAFDFF;
// Navy Blue: #0E4A71

* {
  font-family: 'Josefin Slab', serif;
}

 /* Global Buttons */
 .btn {
   border-radius: 25px;
   padding: 0px;
   width: 90px;
   box-shadow: 4px 5px 5px;
   font-size: 14px;
 }

 .btn:hover {
   color: #0E4A71;
 }

 .nav-link {
   color: white;
   font-weight: bolder;
   
 }

.sign-in-btn-dark {
  background-color: #F1AB5E;
}

.sign-in-btn-light {
  background-color: white;
  color: #F1AB5E;
}

.sign-up-btn-dark, .sign-out-btn-dark {
  background-color: #4197E5
}

.sign-up-btn-light, .sign-out-btn-light {
  background-color: white;
  color: #4197E5;
  font-weight: bolder;
  border: solid 2px #4197E5; 
}

.random-btn-dark {
  background-color: #A54E4D;
}

.random-btn-light {
  background-color: white;
  color: #A54E4D;
}

.play-btn-dark {
  background-color: #5F7511;
}

.play-btn-light {
  background-color: white;
  color: #5F7511;
  border: solid 2px #5F7511;
}

/* Shared Header */
#nav-header {
  color: #0E4A71;
  font-size: 36px;
  font-weight: bolder;
  margin-top: 10px;
}

.splash-nav {
  margin-top: -10px;
  margin-bottom: 10px;
}