.splash-container { 
  background: url(https://image.freepik.com/free-vector/lost-island-ocean-with-alone-castaway-person_107791-621.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}